html {width: 100%; height: 100%;}
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif; }
body{background-color: #040D12; color: #93B1A6;}

/* Header and Navbar Styles */


@media (max-width: 1000px) {
    .headerh1 {
        font-size: 15vw;
        float: none; /* Remove the float */
        margin: 0 0 1vw 0; /* Adjust margin for better spacing */
        text-align: center; /* Center align the text */
    }

    .button {
        background-color: #5C8374;
        color: #f0f0f0;
        padding: 1vw;
        border: none;
        border-radius: 5px;
        margin: 0 0 1vw 0; /* Adjust margin for better spacing */
        cursor: pointer;
        font-size: 5vw;
        height: 20vw;
        width: 40vw; /* Adjust the button width for better layout */
    }
}


/* Header Style */
header {
    background-color: #183D3D;
    color: #f0f0f0;
    padding: 3vh 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
}
/* Heading Style in Header */
.headerh1 {
    font-size: 7vw; 
    float: left;
    margin: 0 1vw 0 1vw;
    color: #f0f0f0;
}
/* Changes buttons to be on the right side of header */
.buttons {
    margin: auto;
    
}
/* Styles buttons, aswell as when button is hovered and while aactive, Giving a click effect */
.button {
    background-color: #5C8374;
    color: #f0f0f0;
    padding: 1vw 1vw 1vw 1vw;
    border: none;
    border-radius: 5px;
    margin: 0 1vw 0 0;
    cursor: pointer;
    font-size: 1vw;
    height: 5vw;
    width: 10vw;
}
.button:hover{
    background-color: #040D12;
}
.button:active{
    background-color: #93B1A6;
}